*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./bg.png)
}

header{
    text-align: center;
    margin: 20px;
}

p{
    color: rgb(65, 154, 5);
    padding-block: 5px;
}

header h1{
    color: rgb(65, 154, 5);
    text-shadow: 2px 2px 2px rgb(92, 22, 22);
    padding-bottom: 20px;
}

header p span{
    color: rgb(92, 22, 22);
}

hr{
    border: 2px dashed black;
    margin-inline: 15px;
    margin-block: 20px;
}

.content{
    width: 100%;
    overflow: hidden;
}

.content h3{
    color: rgb(92, 22, 22);
}

.content div{
    text-align: center;
    width: 30%;
    float: left;
    margin: 1.66%;
    padding: 20px 0;
    height: 350px;
}


.content div img{
    width: 100%;
}

.content div h3{
    margin-top: 10px;
}


footer {
    text-align: center;
}

footer h1{
    margin-top: 20px;
    color: rgb(65, 154, 5);
}

footer p{
    color: rgb(92, 22, 22);
    font-weight: 900;
    margin-bottom: 20px;
}